<md-sidenav flex="none" class="md-sidenav-left md-whiteframe-z2 category-sidenav"
ng-include="'components/sidenav/sidenav.html'" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
</md-sidenav>

<md-button class="md-fab add-btn" aria-label="Add class" ng-click="showDialog($event)">
  <md-icon md-font-set="material-icons">add</md-icon>
</md-button>

<div flex layout="column">
  <md-toolbar class="md-whiteframe-z1" flex="none" ng-include="'components/toolbar/toolbar.html'"></md-toolbar>
  <div class="flex-scroll" layout-padding>
    <md-card class="personal-class-card" ng-repeat="classe in classes | onlyPublic">
      <img ng-src="{{ classe.snippet.thumbnails.high.url }}" ng-click="go('UploadedLectureList', { pid: classe.id })"
      class="md-card-image" alt="Class Image">
      <md-card-content>
        <h2 class="md-title ellipsis personal-class-card__title">{{ classe.snippet.title }}</h2>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-warn" ng-click="deleteClass(classe)">Delete</md-button>
      </div>
    </md-card>
  </div>
</div>


