<md-sidenav flex="none" class="md-sidenav-left md-whiteframe-z2 category-sidenav"
ng-include="'components/sidenav/sidenav-category.html'" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')">
</md-sidenav>

<md-button class="md-fab md-fab-bottom-right" aria-label="Add class" ng-click="showAddDialog($event)" ng-disabled="!hasChannel">
  <md-icon md-font-set="material-icons">add</md-icon>
</md-button>

<div flex="auto" layout="column">
  <md-toolbar class="md-whiteframe-z1" flex="none" ng-include="'components/toolbar/toolbar.html'"></md-toolbar>
  <div class="flex-scroll">
    <div class="main-content__inner">
      <ul class="adaptable-card-wrapper">
        <li class="adaptable-card" ng-repeat="class in classes">
          <a class="anchor-mask" ng-href="{{ href('uploaded-lecture-list', { pid: class.playlistId }) }}" ng-click="passToToolbar(class)">
            <lt-listcard lt-responsive-morph="true">
              <lt-listcard-media>
                <img ng-src="{{ class.thumbnailUrl }}" alt="class Thumbnail">
              </lt-listcard-media>

              <lt-listcard-content>
                <div class="lt-listcard__height-keeper">
                  <h3 class="ellipsis-2 lt-title-s">{{ class.title }}</h3>
                  <p class="ellipsis-1 lt-subhead-s">{{ class.views | thousandSuffix }}</p>
                </div>
                <lt-star-rate lt-rate="class.rate"></lt-star-rate>

                <md-menu class="lt-listcard__small-sign" md-offset="-4 34" md-position-mode="target-right target"
                hide-gt-xs>
                  <md-icon md-menu-origin class="lt-listcard__info-sub-small" mg-font-set="material-icons"
                  ng-click="$mdOpenMenu($event)" aria-label="Actions menu">more_vert</md-icon>
                  <md-menu-content width="2">
                    <md-menu-item>
                      <md-button ng-click="showDeleteDialog($event, class)">Delete</md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </lt-listcard-content>

              <lt-listcard-actions layout="row" layout-align="end center" hide-xs>
                <md-button class="lt-button-s md-accent" ng-click="showDeleteDialog($event, class)">Delete</md-button>
              </lt-listcard-actions>
            </lt-listcard>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
