.adaptable-card-wrapper {
  $card-outer-width: 246px;
  width: 100%;

  @function calc-adaptive-width($card-num) {
    $side-width: 240px;
    $offset: 20;
    @return $side-width + $card-num * $card-outer-width + $offset;
  }

  @include respond-to('small') {
    max-width: 246px;
    margin: 0 auto;
  }

  @include adapt-to(calc-adaptive-width(2)) { max-width: $card-outer-width * 2; }
  @include adapt-to(calc-adaptive-width(3)) { max-width: $card-outer-width * 3; }
  @include adapt-to(calc-adaptive-width(4)) { max-width: $card-outer-width * 4; }
  @include adapt-to(calc-adaptive-width(5)) { max-width: $card-outer-width * 5; }
}

.adaptable-card {
  @include respond-to('small') {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 20px;
    margin-left: 8px;
  }
}

