.carousel {
  max-width: 1280px;
  margin: 0 auto;
}

.carousel__card {
  $w: 230px;
  width: $w;
  margin: 8px auto;

  img {
    width: $w;
    height: $w * 9 / 16;
  }
}

.carousel__info {
  min-height: 88px;
  padding: 16px;

  .lt-title-s,
  .lt-subhead-s {
    margin: 4px 0;
  }
}
