.category-class {
  position: relative;

  @include respond-to('small') {
    box-shadow: $whiteframe-shadow-1dp;
  }

  @include respond-to('medium') {
    margin-right: 8px;
    margin-bottom: 16px;
    margin-left: 8px;
    float: left;
  }
}

.category-class__thumbnail {
  @include respond-to('medium') {

  }
}

.category-class__thumbnail-img {
  position: absolute;
  left: 0;
  max-width: 128px;
  margin: 8px;

  @include respond-to('medium') {
    max-width: 230px;
    margin: 0;
    z-index: 2;
  }
}

.category-class__info {
  height: 88px;
  margin-left: 144px;
  padding-top: 8px;

  @include respond-to('medium') {
    position: relative;
    width: 230px;
    height: 240px;
    margin: 0;
    padding: 0;
    background: $white;
    z-index: 1;
  }
}

.category-class__info-box {
  @include respond-to('medium') {
    position: relative;
    top: 146px;
    left: 16px;
    width: 198px;
    height: 78px;
  }
}

.category-class__info-title {
  width: 150px;
  margin: 0;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 13px;
  line-height: 16px;
}

.category-class__info-sub {
  margin: 0;
  padding-top: 4px;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
}

.category-class__info-sub-views {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;

  @include respond-to('medium') {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
  }
}
