.category-class {
  position: relative;
}

.category-class__thumbnail {
  position: absolute;
  left: 0;
}

.category-class__thumbnail-img {
  max-width: 128px;
  margin: 8px;
}

.category-class__info {
  height: 88px;
  margin-left: 144px;
  padding-top: 8px;
}

.category-class__info-title {
  margin: 0;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 13px;
  line-height: 16px;
}

.category-class__info_sub {
  margin: 0;
  padding-top: 4px;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
}
