.categories-view-more {
  text-align: center;

  @include respond-to('small') {
    text-align: right;
  }


  .md-button {
    display: inline-block;
    width: 100%;
    min-height: 50px;
    margin: 0;
    background: $white;
    color: $view-more-btn;
    line-height: 50px;

    @include respond-to('small') {
      right: 8px;
      bottom: 10px;
      width: auto;
      min-height: 36px;
      background: none;
      line-height: 36px;
    }

  }

}
