// Main content containers
// 1. Make the container full-width with a maximum width
// 2. Center it in the viewport
// 3. Leave some space on the edges, especially valuable on small screens

.container {
  width: 100%; // 1
  max-width: $content-max-width; // 1
  margin: 0 auto;
  background-color: $white;
}

.container-without-bg {
  width: 100%; // 1
  max-width: $content-max-width; // 1
  margin: 0 auto;
}
