.embed-item-limit-width {
  max-width: 640px;
  margin: 0 auto;

  @include respond-to('small') {
    margin: $panel-offset auto 0;
  }
}

.embed-responsive {
  display: block;
  position: relative;
  height: 0;
  padding: 0;
  overflow: hidden;
  &.embed-responsive-16by9 { padding-bottom: 56.25%; }
}

.embed-responsive__item {
  position: absolute;
  width: 100%;
  max-width: 640px;
  height: 100%;
  border: 0;
}
