.head-content {
  background-color: $white;
  @include respond-to('medium') {
    height: 400px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: $white;
  }
}

.head-content__video {
  float: left;
}
