.home {

  md-toolbar {
    position: absolute;

    @include respond-to('small') {
      right: 15px;
    }
  }

  md-toolbar:not(.md-menu-toolbar) {
    background: $toolbar-transparent;
    color: $white;
  }

  .md-whiteframe-z1 {
    box-shadow: none;
  }
}

.home__default-toolbar {

  md-toolbar:not(.md-menu-toolbar) {
    // jsHint error로 인하여 하나만 남겨둠
    transition: background 0.5s ease-in-out;

    background: $toolbar-default;
  }
}

.home__transparent-toolbar {

  md-toolbar:not(.md-menu-toolbar) {
    // jsHint error로 인하여 하나만 남겨둠
    transition: background 0.5s ease-in-out;

    background: $toolbar-transparent;
    color: $white;

    md-icon {
      color: $white;
    }
  }
}
