.inner-content {
  width: $content-inner-width;
  max-width: 100%;
  margin: 0 auto;
  background: $white;

  @include respond-to('small') {
    max-width: 624px;
    margin: 16px;
  }
}

.inner-content__box {
  padding: 0;
}
