.intro {
  height: 250px;
  background-image: image('main_background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 23%;
  background-size: cover;

  @include respond-to('small') {
    height: 450px;
  }

  .md-button.md-raised {
    background-color: $star-color;
  }
}

.intro__box {
  padding-top: 75px;

  @include respond-to('small') {
    padding-top: 140px;
  }
}

.intro__slogan {
  margin: 2px;
  color: $text-color-alt;

  @include respond-to('small') {
    font-size: 45px;
    line-height: 50px;
  }
}

.intro__sub-slogan {
  margin: 2px;
  color: $text-color-alt;

  @include respond-to('small') {
    font-size: 34px;
    line-height: 50px;
  }
}

.intro__btn {
  width: 112px;
  height: 36px;
  margin-top: 30px;

  @include respond-to('small') {
    margin-top: 60px;
  }
}
