.lecturelist-item__thumbnail {
  $w: 120px;
  width: $w;
  height: $w * 0.75;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
}

.lecturelist-item--highlight {
  background-color: $highlight-color;
}
