.lecturelist-fixer {
  @include respond-to('small') {
    position: absolute;
    top: 20px;
    right: 16px;
  }
}

.lecturelist-fixer__whiteframe {
  @include respond-to('small') {
    position: fixed;
    height: calc(100% - 96px);
    overflow: auto;
  }
}

.lecturelist-fixer,
.lecturelist-fixer__whiteframe {
  width: 100%;
  @include respond-to('small') { width: 320px; }
}
