.lecturelist {
  md-list-item .md-list-item-inner {
    display: inline;
  }
}

.lecturelist__item {
  padding: 0;
}

.lecturelist__second-action {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.lecturelist__delete-btn {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.lecturelist__second-action--centered {
  @include centerer(false, true);
  right: 8px;
}

.lecturelist__complete-icon {
  margin: 0;
  float: left;
  color: $blue-a200;
  font-size: 16px;
}

.lecturelist__complete-date {
  margin: 0;
  margin-left: 20px;
  line-height: 16px;
}
