.lecturelist-thumb-and-duration {
  position: relative;
  width: 128px;
  height: 88px;
  float: left;
}


.lecturelist-thumb-and-duration__duration {
  display: table-cell;
  position: absolute;
  right: 4px;
  bottom: 12px;
  margin: 0;
  padding: 4px;
  background: $black;
  color: $white;
  font-size: 10px;
  line-height: 12px;
  z-index: 2;
}

.lecturelist-thumb-and-duration__thumbnail {
  //$w: 120px;
  //width: $w;
  //height: $w * 0.75;
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 72px;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  z-index: 1;
}
