.lecturelist-info {
  position: absolute;
  top: 0;
  left: 142px;
  padding-top: 8px;
  padding-right: 8px;

  @include respond-to('small') {
    width: 176px;
    max-width: 480px;
  }
}

.lecturelist-info__title {
  margin: 0;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 13px;
  line-height: 16px;

  @include respond-to('medium') {
    font-size: 16px;
  }
}

.lecturelist-info__sub {
  margin: 0;
  padding-top: 4px;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;

  @include respond-to('medium') {
    font-size: 12px;
  }
}

.lecturelist-info__complete-date {
  margin: 0;
  margin-left: 12px;
  padding-top: 6px;
  padding-left: 6px;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;

  @include respond-to('medium') {
    font-size: 12px;
  }
}
