.main-content__inner {
  @include respond-to('small') {
    margin: 32px 0;
  }
}

.main-content__whiteframe-wrapper {
  @include respond-to('small') {
    position: relative;
    margin: 0 16px;
  }
}
