.md-menu {
  padding: 0;
}

.md-menu__account-content {
  width: 210px;
  text-transform: none;

  img {
    margin: 10px 15px 10px 0;
    float: left;
  }

  div {
    margin: 7px;
    text-align: left;
    p { margin: 0; }
  }
}

.md-menu__account-thumb {
  width: $account-thumb-size;
  height: $account-thumb-size;
  border-radius: 50%;
}
