.personal-class-card {
  @include respond-to('small') {
    $card-width: 338px;
    display: inline-flex;
    width: $card-width;
  }
}

.personal-class-card__title {
  min-height: 2.6em;
}

.personal-class-card__image-content {
  position: relative;
  width: 100%;
}
