.search-box {
  max-width: 250px;
  padding: 0 16px;
}

.search-box__lecture-thumb {
  $w: 90px;
  width: $w;
  height: $w * 0.75;
  margin-top: 4px;
  margin-right: 8px;
  margin-bottom: 4px;
}

.search-box--lecture-selected {
  $color: #e0e0e0;
  background-color: $color;
}
