
.sidenav-account-area {
  position: relative;
  height: 172px;
  background: image('sidenav_drawer_background.jpg');

  img {
    $s: 64px;
    width: $s;
    height: $s;
    margin-top: 40px;
    margin-left: 16px;
  }

}

.sidenav-account-area__cont {
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  padding-left: 16px;

  p { margin: 0; }

}

.sidenav-account-area__thumb {
  margin-bottom: 10px;
}

.sidenav-account-area__login-btn {
  padding: 0 15px;
}
