.star-rate {
  position: relative;
  margin-top: 4px;

  @include respond-to('small') {
  }
}

.star-rate__depressor {
  width: 90px;
}

.star-rate__item {
  width: 100%;
  margin: 0;
}

.star-rate__bar {
  height: 17px;
  margin-top: -17px;
  background: $star-color;
}
