.tutor-intro {
  margin-top: 4px;
}

.tutor-intro__thumb {
  width: $tutor-thumb-size;
  height: $tutor-thumb-size;
  float: left;
}

.tutor-intro__title {
  margin: 0;
  margin-left: $tutor-thumb-size + 16;
  line-height: $tutor-thumb-size;
}
