.tutor-intro {
  padding-top: 10px;
  padding-left: 10px;
}

.tutor-intro__thumbnail {
  float: left;
  border-radius: 45px;

  @include respond-to('medium') {
    width: 100px;
    padding-right: 10px;
    float: left;
  }
}


.tutor-intro__channel-info {
  padding-top: 20px;
  padding-bottom: 10px;
}
