.tutor-intro-channel {
  padding-top: 20px;
  padding-left: 100px;

  @include respond-to('medium') {
    padding-top: 20px;
    h4 { text-transform: uppercase; }
  }
}

.tutor-intro-channel__tutor {
  margin-top: 0;
  margin-bottom: 0;
  color: grey;
}

.tutor-intro-channel__title {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}
