<md-toolbar ng-controller="ToolbarCtrl">
  <div class="md-toolbar-tools" md-theme="docs-dark">
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="{{ leftIconChanger() }}" ng-click="leftTrigger()"></md-icon>
    </md-button>
    <h2 ng-hide="onSearching">
      <span>{{ title }}</span>
    </h2>
    <form ng-submit="goSearch()" ng-show="onSearching">
      <input id="query" type="search" ng-model="q" focus-me="focusInput"/>
    </form>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Search" ng-click="toggleSearchingState()" ng-hide="stateNameCheck('Home')">
      <md-icon md-svg-icon="/assets/images/search.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>
