<md-toolbar ng-controller="ToolbarCtrl">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" hide-gt-md>
      <md-icon md-svg-icon="{{ leftIconChanger() }}" ng-click="leftTrigger()"></md-icon>
    </md-button>
    <a href="/" id="logo" hide-sm hide-md>
      <img src="/assets/images/logo_transparent.png" show-gt-md alt="logo"/>
    </a>
    <h2 ng-hide="onSearching" hide-gt-md>
      <span>{{ title }}</span>
    </h2>
    <form ng-submit="goSearch()" ng-show="onSearching" hide-gt-md>
      <input id="query" type="search" ng-model="q" focus-me="focusInput"/>
    </form>

    <span flex>
      <div class="web-search-cont">
        <form ng-submit="goSearch()" hide-sm hide-md>
          <input type="search" ng-model="q"/>
        </form>
      </div>
    </span>

    <md-menu>

      <md-button class="toolbar-account-cont" ng-show="isLoggedIn()" ng-click="$mdOpenMenu()" hide-sm hide-md>
        <img ng-src="{{ getUserImgPath(getCurrentUser()) }}" alt="Account Image"/>

        <div>
          <p class="md-body-2">{{ getCurrentUser().name }}</p>
          <p class="md-body-1">{{ getCurrentUser().email }}</p>
        </div>
      </md-button>

      <md-menu-content width="3">
        <md-menu-item ng-repeat="item in personalMenu">
          <md-button ng-href="{{ item.url }}">
            {{ item.name }}
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="logout()">
            Log Out
          </md-button>
        </md-menu-item>
      </md-menu-content>

    </md-menu>

    <md-button ng-hide="isLoggedIn()" href="/login" hide-sm hide-md>Login</md-button>
  </div>
</md-toolbar>
