$tb-account-img-size: 32px;
$tb-account-br-rd: $tb-account-img-size / 2;

#query {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
}
#logo img {
  height: 25px;
  width: auto;
  display: block;
}

.web-search-cont {
  max-width: 850px;
  input {
    width: 100%;
  }

}

.web-search-cont {
  margin-left: 30px;
  padding-right: 50px;
  input {
    border-radius: $md-border-radius;
    width: 100%;
    max-width: 850px;
    border: none;
    padding: 6px 32px 6px 10px;
    outline: none;
  }
}

.toolbar-account-cont {
  //padding: 6px;
  width: 210px;
  text-transform: none;
  //  background: none;
  //  outline: none;
  //  border: none;
  img {
    float: left;
    margin: 10px 15px 10px 0;
    width: $tb-account-img-size;
    height: $tb-account-img-size;
    border-radius: $tb-account-br-rd;
  }
  div {
    text-align: left;
    p { margin: 0; }
  }
}

.md-button.youtube-color {
  background-color: #e62117;
  &:not([disabled]):hover { background-color: #cc181e; }
}
