<div class="md-toolbar-tools" ng-controller="ToolbarCtrl" ng-class="{ 'toolbar--onsearch': greyToolbar, 'toolbar--ondelete' : deleteToolbarState }">


  <!-- Mobile - basic element -->
  <div class="toolbar-icon-left" hide-gt-xs>
    <md-button class="toolbar-icon-left__btn md-icon-button" aria-label="Settings">
      <md-icon ng-hide="onSearching" ng-click="mainIconTrigger()" md-font-set="material-icons">menu</md-icon>
      <md-icon ng-show="onSearching" ng-click="goBackward()" md-font-set="material-icons">arrow_back</md-icon>
    </md-button>
  </div>

  <!-- PAGE TITLE -->
  <div class="page-title ellipsis-1" ng-hide="searchAtMobile">
    <span>{{ title }}</span>
  </div>

  <!-- onSearching으로 진입하는 search icon -->
  <md-button hide-gt-xs ng-hide="onSearching" class="md-icon-button" aria-label="More"
  ng-click="toggleSearchingState();">
    <md-icon md-font-set="material-icons">search</md-icon>
  </md-button>

  <!-- SEARCH INPUT -->
  <div class="toolbar-search" ng-show="onSearching">
    <form class="toolbar-search__form" ng-submit="go('search', { q: q });">
      <input my-focus id="input1" class="toolbar-search__input" ng-class="{ 'yellow-input': yellowInput }" ng-model="q" type="search" placeholder="search class"/>
      <md-icon ng-click="go('search', { q: q });" class="toolbar-search__icon" md-font-set="material-icons" ng-show="webSearchIcon">search</md-icon>
    </form>
  </div>

  <!-- USER INFO -->
  <md-menu md-offset="12 -1" md-position-mode="target-right target" style="margin-right:0">
    <md-button class="account-btn" ng-show="isLoggedIn()" ng-click="$mdOpenMenu()" hide-xs>
      <img class="account-btn__thumb thumb-radius" ng-src="{{ getUserImgPath(getCurrentUser()) }}"
      alt="Account Image" />

      <div class="account-btn__info">
        <p class="md-body-1 account-btn__email">{{ getCurrentUser().email }}</p>
        <p class="md-body-2">{{ getCurrentUser().name }}</p>
      </div>
    </md-button>

    <md-menu-content width="3">
      <md-menu-item ng-repeat="item in personalMenu">
        <md-button ng-href="{{ item.url }}">
          {{ item.name }}
        </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button ng-click="logout()">
          Log out
        </md-button>
      </md-menu-item>
    </md-menu-content>

  </md-menu>

  <div>
    <md-button class="web-sign-in" ng-hide="isLoggedIn()" ng-click="loginOauth('google')" hide-xs>
      Sign in with <i class="fa fa-youtube-play youtube-logo"></i>
    </md-button>
  </div>

  <!-- 검색어를 한번에 지우는 clear icon -->
  <md-button class="md-icon-button" aria-label="More" ng-show="clearIcon" ng-click="deleteValue()">
    <md-icon md-font-set="material-icons">clear</md-icon>
  </md-button>

  <md-menu md-offset="12 -1" md-position-mode="target-right target" hide-gt-xs>
    <!-- 로그인 메뉴를 여는 more icon -->
    <md-button ng-hide="onSearching" ng-click="$mdOpenMenu($event)" class="md-icon-button">
      <md-icon md-menu-origin md-font-set="material-icons">more_vert</md-icon>
    </md-button>

    <md-menu-content width="3">
      <md-menu-item ng-if="!isLoggedIn()">
        <md-button ng-click="loginOauth('google')">
          Sign in with <i class="fa fa-youtube-play youtube-logo"></i>
        </md-button>
      </md-menu-item>

      <div ng-if="isLoggedIn()">
        <md-menu-item ng-repeat="item in personalMenu">
          <md-button ng-href="{{ item.url }}">
            {{ item.name }}
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="logout()">
            Log out
          </md-button>
        </md-menu-item>
      </div>
    </md-menu-content>
  </md-menu>
</div>
