node_modules
public
.tmp
.sass-cache
.idea
.env
.env.*
.rebooted
client/bower_components
dist
/server/config/local.env.js
*.sw[op]
*.log
*.csv
_site/
coverage/
apidoc/
.travis/
encrypt.tar
client/assets/stylesheets/components
