node_modules
public
.tmp
.sass-cache
.idea
.env
.env.prod
.rebooted
client/bower_components
dist
/server/config/local.env.js
*.sw[op]
*.log
_site/
coverage/
apidoc/
.travis/
encrypt.tar
docker/
client/assets/stylesheets/components
