node_modules
public
.tmp
.sass-cache
.idea
.env
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
*.sw[op]
_site/
coverage/
apidoc/
.travis/
encrypt.tar
docker/
client/assets/stylesheets/components
