<div ng-include="'components/toolbar/toolbar.html'"></div>

<div class="container">
  <md-content layout-padding class="login-content">
    <img src="/assets/images/logo.png" alt="Brand logo"/>
    <form ng-submit="login(form)" class="form" name="form">
      <div class="login-width" layout="column">
        <div>
          <md-input-container>
            <label>Email</label>
            <input type="email" name="email" ng-model="user.email"/>
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password"/>
          </md-input-container>
          <div layout layout-align="end center">
            <md-button type="submit" class="md-raised fullwide-btn">
              Login
            </md-button>
          </div>
        </div>

        <md-divider></md-divider>
        <div layout layout-align="center center">
          <md-button ng-click="loginOauth('google')" class="md-warn md-raised fullwide-btn">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </md-button>
        </div>
      </form>

      <md-divider></md-divider>
      <div layout layout-align="end center">
        <md-button href="/signup">
          Sign up
        </md-button>
      </div>

    </div>
  </md-content>
</div>
