<div ng-include="'components/toolbar/toolbar.html'"></div>

<md-content>
  <div class="login-content login-width md-padding">

    <img src="/assets/images/logo.png" alt="logo"/>

    <form ng-submit="login(form)" class="form" name="form">
      <div layout="column">

        <div>
          <md-input-container>
            <label>Email</label>
            <input type="email" name="email" ng-model="user.email"/>
          </md-input-container>

          <md-input-container>
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password"/>
          </md-input-container>

          <div layout layout-align="end center">
            <md-button type="submit" class="md-raised" flex>
              Login
            </md-button>
          </div>
        </div>

        <md-divider></md-divider>

        <div layout layout-align="center center">
          <md-button ng-click="loginOauth('google')" class="md-warn md-raised" flex>
            <i class="fa fa-google-plus"></i> Connect with Google+
          </md-button>
        </div>

      </div>
    </form>

    <md-divider></md-divider>

    <div layout layout-align="end center">
      <md-button href="/signup">
        Sign up
      </md-button>
    </div>

  </div>
</md-content>
