.star-rating {
  position: relative;
  margin-top: 4px;

  @include respond-to('small') {
  }
}

.star-rating__depressor {
  width: 90px;
}

.star-rating__item {
  width: 100%;
  margin: 0;
}

.star-rating__bar {
  height: 17px;
  margin-top: -17px;
  background: $star-color;
}
