<md-sidenav flex="none" class="md-sidenav-left md-whiteframe-z2 category-sidenav"
ng-include="'components/sidenav/sidenav.html'" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
</md-sidenav>

<md-button class="md-fab add-btn" ng-disabled="haveClass" aria-label="Add a class"
ng-click="addClass()" ng-show="isLoggedIn()">
  <md-icon md-font-set="material-icons">library_add</md-icon>
</md-button>

<div flex layout="column">
  <md-toolbar class="md-whiteframe-z1" flex="none" ng-include="'components/toolbar/toolbar.html'"></md-toolbar>
  <div flex layout="column" class="class-summary-content flex-scroll">
    <div class="class-summary-content__wrapper">
      <div class="video-box class-first-video">
        <div class="youtube-video">
          <youtube-video class="youtube-video__item" video-id="lectureList[0].snippet.resourceId.videoId"></youtube-video>
        </div>
      </div>

      <div class="whiteframe-expander">
        <md-whiteframe class="whiteframe-expander__core responsive-whiteframe">
          <h2 class="whiteframe__title md-title">{{classe.snippet.title}}</h2>
          <div class="md-body-1 whiteframe-desc" ng-bind-html="desc"></div>
        </md-whiteframe>
        <md-divider hide-gt-sm></md-divider>
      </div>

      <div class="whiteframe-expander">
        <md-whiteframe class="whiteframe-expander__core responsive-whiteframe">
          <div class="tutor-intro">
            <img class="tutor-intro__thumb thumb-radius" ng-src="{{ channel.snippet.thumbnails.default.url }}">
            <h2 class="tutor-intro__title md-title">{{ channel.snippet.title }}.&nbsp</h2>
          </div>
          <div class="whiteframe-desc md-body-1" ng-bind-html="channel.snippet.description"></div>
        </md-whiteframe>
        <md-divider hide-gt-sm></md-divider>
      </div>

      <div class="lecturelist-fixer">
        <md-whiteframe class="lecturelist-fixer__whiteframe responsive-whiteframe">
          <div class="classroom-tabs__lecturelist">
            <md-list class="numbering">
              <div infinite-scroll="loadMore()" infinite-scroll-disabled="httpBusy || !getPageToken()"
              infinite-scroll-distance="1">

                <div class="lecturelist">
                  <md-list-item class="lecturelist__item" ng-repeat="lecture in lectureList" ng-click="go('classroom', { pid: playlistId, vid: lecture.snippet.resourceId.videoId })">
                    <div class="lecturelist-thumb-and-duration">
                      <p class="lecturelist-thumb-and-duration__duration">{{ lecture.contentDetails.duration | humanable }}</p>
                      <img class="lecturelist-thumb-and-duration__thumbnail" ng-src="{{ lecture.snippet.thumbnails.medium.url }}"
                      alt="Lecture Thumbnail">
                    </div>

                    <div class="md-list-item-text lecturelist-info">
                      <h3 class="ellipsis lecturelist-info__title">{{ lecture.snippet.title }}</h3>
                      <p class="lecturelist-info__sub">{{ lecture.snippet.channelTitle }}</p>
                      <p class="lecturelist-info__sub">{{ lecture.viewCount.viewCount }}</p>
                      <!-- {{ lecture.contentDetails.duration | humanable }} -->
                    </div>
                  </md-list-item>
                </div>

              </div>
            </md-list>
          </div>
        </md-whiteframe>
      </div>
    </div>
  </div>
</div>

