<md-sidenav flex="none" class="md-sidenav-left md-whiteframe-z2 category-sidenav"
ng-include="'components/sidenav/sidenav.html'" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')">
</md-sidenav>

<md-button class="md-fab fixed-fab" ng-disabled="haveClass" aria-label="Add a class"
ng-click="addClass()" ng-show="isLoggedIn()">
  <md-icon md-font-set="material-icons">library_add</md-icon>
</md-button>

<div flex layout="column">
  <md-toolbar class="md-whiteframe-z1" flex="none" ng-include="'components/toolbar/toolbar.html'"></md-toolbar>
  <div flex layout="column" class="flex-scroll">
    <div class="main-content__inner">
      <div class="main-content__whiteframe-wrapper">
        <div class="whiteframe-wrapper">
          <div class="video-box">
            <div class="youtube-video">
              <youtube-video class="youtube-video__item" video-id="lectureList[0].snippet.resourceId.videoId"></youtube-video>
            </div>
          </div>

          <md-whiteframe class="frame-padding responsive-whiteframe whiteframe">
            <h2 class="whiteframe__title md-title">{{classe.snippet.title}}</h2>
            <div class="md-body-1 whiteframe-desc" ng-bind-html="desc"></div>
          </md-whiteframe>
          <md-divider hide-gt-xs></md-divider>

          <md-whiteframe class="frame-padding responsive-whiteframe whiteframe">
            <div class="tutor-intro">
              <img class="tutor-intro__thumb thumb-radius" ng-src="{{ channel.snippet.thumbnails.default.url }}">
              <h2 class="tutor-intro__title md-title">{{ channel.snippet.title }}.&nbsp</h2>
            </div>
            <div class="whiteframe-desc md-body-1" ng-bind-html="channel.snippet.description"></div>
          </md-whiteframe>
          <md-divider hide-gt-xs></md-divider>
        </div>

        <div class="lecturelist-fixer">
          <md-whiteframe class="lecturelist-fixer__whiteframe responsive-whiteframe">
            <div class="classroom-tabs__lecturelist">
              <ul class="numbering whiteframe__lecturelist">
                <li ng-repeat="lecture in lectureList">
                  <a class="anchor-mask" ng-href="{{ href('classroom', { pid: playlistId, vid: lecture.snippet.resourceId.videoId }) }}">
                    <lt-listcard lt-responsive-morph="false">
                      <lt-listcard-media>
                        <div class="video-thumb">
                          <img ng-src="{{ lecture.snippet.thumbnails.medium.url }}" alt="Lecture thumbnail">
                          <p class="video-thumb__duration lt-caption-s">{{ lecture.contentDetails.duration | humanable }}</p>
                        </div>
                      </lt-listcard-media>

                      <lt-listcard-content>
                        <h3 class="ellipsis-2 lt-listcard__inner--squashed lt-title-s">{{ lecture.snippet.title }}</h3>
                        <p class="ellipsis-1 lt-subhead-s">{{ lecture.snippet.channelTitle }}</p>
                        <span class="lt-listcard__small-sign lt-caption-s">{{ lecture.statistics.viewCount | thousandSuffix }}</span>
                      </lt-listcard-content>
                    </lt-listcard>
                  </a>
                </li>
              </ul>
            </div>
          </md-whiteframe>
        </div>
      </div>
    </div>
  </div>
</div>

