$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
* App-wide Styles
*/
$md-border-radius: 4px;
$md-account-img-size: 64px;
$md-account-br-rd: $md-account-img-size / 2;

$responsive-width: 599px;
$content-max-width: 1080px;
$content-padding: 70px;
$content-inner-width: $content-max-width - ($content-padding * 2);
$dialog-width: 600px;

$avatar-size: 40px;
$avatar-border-radius: $avatar-size / 2;

md-content, body {
  background-color: #eceff1;
}


.account-img {
  width: $md-account-img-size;
  height: $md-account-img-size;
  border-radius: $md-account-br-rd;
}
md-toolbar .md-menu {
  padding: 0;
}

.content-width {
  max-width: $content-max-width;
  margin: 0 auto;
}
.content-background {
  background-color: #ffffff;
}
.content-inner {
  max-width: 100%;
  width: $content-inner-width;
  margin: 0 auto;
}

.avatar {
  float: left;
  margin: 10px 15px 10px 0;
  width: $avatar-size;
  height: $avatar-size;
  border-radius: $avatar-border-radius;
}

.lecture-thumb {
  $w: 120px;
  width: $w;
  height: $w * 0.75;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
}

.fab-fix {
  $offset: 24px;
  position: fixed;
  right: $offset;
  bottom: $offset;
}

.dialog-width {
  width: $dialog-width;
}

md-sidenav, md-backdrop {
  position: fixed;
}

.login-btn {
  padding: 0 15px;
}

.note-contents-viewer {
  text-align: center;
  iframe {
    height: 350px;
    border: none;
    width: 100%;
  }
}

@media (max-width: $responsive-width) {
  .note-contents-viewer {
    img { width: 100%; }
  }
}


// Component styles are injected through grunt
// injector
@import 'class/class.scss';
@import 'home/home.scss';
@import 'lecture/lecture.scss';
@import 'personal/personal.scss';
@import 'personal/uploaded/lecture-list/lecture-list.scss';
@import 'personal/watched/lecture-list/lecture-list.scss';
@import 'personal/watched/watched.scss';
@import 'search/search.scss';
@import 'dialog/add-lecture.scss';
@import 'dialog/dialog.scss';
@import 'footer/footer.scss';
@import 'sidenav/sidenav.scss';
@import 'toolbar/toolbar.scss';
@import 'visualization/bars.scss';
// endinjector
