$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
$md-border-radius: 4px;
$md-account-img-size: 64px;
$md-account-br-rd: $md-account-img-size / 2;

$resposive-width: 959px;
$content-max-width: 1080px;

$avatar-size: 40px;
$avatar-border-radius: $avatar-size / 2;

body {
  background: #eceff1;
}

.account-img {
  width: $md-account-img-size;
  height: $md-account-img-size;
  border-radius: $md-account-br-rd;
}
md-toolbar .md-menu {
  padding: 0;
}

.content-width {
  max-width: 100%;
  width: $content-max-width;
  margin: 0 auto;
}

.avatar {
  float: left;
  margin: 10px 15px 10px 0;
  width: $avatar-size;
  height: $avatar-size;
  border-radius: $avatar-border-radius;
}


// Component styles are injected through grunt
// injector
@import 'account/account.scss';
@import 'admin/admin.scss';
@import 'class/class.scss';
@import 'lecture/lecture.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
@import 'sidenav/sidenav.scss';
@import 'toolbar/toolbar.scss';
// endinjector
