$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
$md-border-radius: 4px;
$md-account-img-size: 64px;
$md-account-br-rd: $md-account-img-size / 2;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


// Override Angular Material Styles
.md-body-2 {
  font-weight: 700;
}
// End Override -------------------

.account-img {
  width: $md-account-img-size;
  height: $md-account-img-size;
  border-radius: $md-account-br-rd;
}
md-toolbar .md-menu {
  padding: 0;
}


// Component styles are injected through grunt
// injector
@import 'account/account.scss';
@import 'admin/admin.scss';
@import 'lecture/lecture.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
@import 'sidenav/sidenav.scss';
@import 'toolbar/toolbar.scss';
// endinjector
