<div>
  <div ng-hide="!!selectedLecture" class="empty-state">
    <p class="empty-state__words">Click view note</p>
  </div>
  <div ng-show="!!selectedLecture">
    <header class="frame-padding">
      <h2 class="md-title">Note</h2>
      <p class="md-caption ellipsis-1">{{ selectedLecture.snippet.channelTitle }} - {{ selectedLecture.snippet.title }}</p>
      <span class="frame-caption md-caption" am-time-ago="selectedLecture.note.created"></span>
    </header>
    <md-divider></md-divider>
    <div ng-controller="SidenavNoteCtrl" class="frame-padding">
      <lt-note-viewer lt-note="selectedLecture.note"></lt-note-viewer>
    </div>
  </div>
</div>
