<div>
  <header class="frame-padding">
    <h2 class="md-title">Note</h2>
    <p class="md-caption ellipsis-1">ipsum lorem - Ipsum aliquam ad odit quae soluta officia. Sit voluptatem sint deserunt suscipit ex labore. Ex veniam iure reprehenderit officiis ut magni laudantium voluptatibus magnam doloremque voluptas dignissimos? Explicabo voluptatem quae.</p>
    <span class="frame-caption md-caption">10 days ago</span>
  </header>
  <md-divider></md-divider>
  <md-content ng-controller="SidenavNoteCtrl" class="frame-padding">
    <p class="md-body-1">note contents will be here</p>
  </md-content>
</div>
