<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" hide-gt-sm>
  <div class="sidenav-account-area md-hue-1" ng-controller="SidenavDrawerCtrl">
    <div class="image-cont">
      <img ng-src="{{ getUserImage() }}" class="account-img" alt="Account Image"/>
    </div>
    <div class="account-cont">
      <md-button ng-hide="isLoggedIn()" ng-click="loginOauth('google')" class="md-raised login-btn">
        Login with <i class="fa fa-youtube-play"></i>
      </md-button>
      <div class="inner-left-padding" ng-show="isLoggedIn()">
        <p class="md-body-2">{{ getCurrentUser().name }}</p>
        <p class="md-body-1">{{ getCurrentUser().email }}</p>
      </div>
    </div>
  </div>
  <md-list ng-show="isLoggedIn()" ng-controller="SidenavDrawerCtrl">
    <md-list-item ng-repeat="item in personalMenu" ng-click="navTo(item.url)">
      <p>{{ item.name }}</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="logout()">
      <p>Log Out</p>
    </md-list-item>
  </md-list>
</md-sidenav>
