.sidenav-account-area {
  position: relative;
  height: 172px;
  background: url('/assets/images/sidenav_drawer_background.jpg');
  img {
    $m_top: 40px;
    $m_left: 16px;
    margin-left: 16px;
    margin-top: 40px;
  }

  .image-cont {
    margin-bottom: 10px;
  }

  .account-cont {
    .inner-left-padding {
      padding-left: 8px;
    }
    padding-left: 8px;
    padding-bottom: 8px;
    position: absolute;
    bottom: 0;
    p { margin: 0; }
  }
}
