<div>
  <div ng-hide="!!selectedLecture" class="empty-state">
    <p class="empty-state__words">Click view note</p>
  </div>
  <div ng-show="!!selectedLecture">
    <header class="frame-padding">
      <h2 class="md-title">Note</h2>
      <p class="md-caption ellipsis-1">{{ selectedLecture.channelTitle }} - {{ selectedLecture.title }}</p>
    </header>
    <md-divider></md-divider>
    <div class="frame-padding">
      <div ng-repeat="note in selectedLecture.notes | orderBy: '-created'">
        <p class="md-caption" am-time-ago="note.created"></p>
        <lt-note-viewer lt-note="note"></lt-note-viewer>
      </div>
    </div>
  </div>
</div>
