<header class="category-sidenav__header">
  <a href="/" class="logo-linker">
    <img class="logo-linker__logo" src="/assets/images/logo_learntube_black.png" alt="logo">
  </a>
</header>
<md-divider></md-divider>
<md-content class="category-sidenav__content" ng-controller="SidenavCategoryCtrl">
  <md-list ng-cloak>
    <md-list-item href="{{ href('category-all') }}">
      <span>All</span>
    </md-list-item>
    <md-list-item ng-href="{{ href('category-other', { ctname: getSafeUrl(category.orig) }) }}" ng-repeat="category in categories">
      <span>{{ category.orig }}</span>
    </md-list-item>
  </md-list>
</md-content>
