<div ng-include="'components/toolbar/toolbar.html'"></div>

<md-content>

<div class="content-width content-background" layout-padding>
  <div class="content-inner">
    <!-- 클래스 내의 강의 목록 -->
    <div class="middle">
      <h3>Lectures in this Class</h3>
    </div>


    <md-list>
    <div class="lectureList"
    infinite-scroll="loadMore(pageToken)" 
    infinite-scroll-disabled="httpBusy || !pageToken"
    infinite-scroll-distance="1">

    <md-list-item class="md-2-line"
    ng-repeat="lecture in lectureList"
    ng-click="go('Lecture', { pid: playlistId, vid: lecture.snippet.resourceId.videoId })"
    ng-class="{highlight: lecture.highlight}">

    <img class="lecture-thumb" ng-src="{{ lecture.snippet.thumbnails.default.url }}" alt="Lecture Thumbnail" />

    <div class="md-list-item-text">
      <div class="lecture-index">
        <span>{{ $index + 1 }}.&nbsp</span>
      </div>

      <div class="lecture-title-div">
        <div>
          <span>{{ lecture.snippet.title | limitTo:40 }}{{ lecture.snippet.title.length > 40 ? '...' : '' }}</span>
        </div>

        <div>
          <span>{{ lecture.contentDetails.duration | humanable }}</span>
        </div>
      </div>

    </div>
  </md-list-item>
</div>
</md-list>
</div>
</div>

</md-content>
