<md-sidenav flex="none" class="md-sidenav-left md-whiteframe-z2 category-sidenav"
ng-include="'components/sidenav/sidenav.html'" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')">
</md-sidenav>


<div flex layout="column">
  <md-toolbar class="md-whiteframe-z1" flex="none" ng-include="'components/toolbar/toolbar.html'"></md-toolbar>

  <div flex class="flex-scroll">
    <div class="inner-content">
      <p class="md-body-2 section-title">My learning info</p>
      <div class="d3-visaul-content">
        <d3-bars data="vdata"></d3-bars>
      </div>
    </div>

    <!-- 클래스 내의 강의 목록 -->
    <p class="md-body-2 section-title section-title--hide">Lectures in this class</p>

    <div class="inner-content">
      <md-list class="numbering inner-content__box">
        <div infinite-scroll="loadMore()" infinite-scroll-disabled="httpBusy || !getPageToken()"
        infinite-scroll-distance="1">

          <md-list-item class="lecturelist__item watched-lecturelist" ng-repeat="lecture in lectureList">

            <div ng-click="go('Lecture', { pid: playlistId, vid: lecture.snippet.resourceId.videoId })">
              <div class="lecturelist-thumb-and-duration">
                <p class="lecturelist-thumb-and-duration__duration">{{ lecture.contentDetails.duration | humanable }}</p>
                <img class="lecturelist-thumb-and-duration__thumbnail" ng-src="{{ lecture.snippet.thumbnails.medium.url }}"
                alt="Lecture Thumbnail">
              </div>

              <div class="md-list-item-text lecturelist-info">
                <h3 class="ellipsis-2 lecturelist-info__title">{{ lecture.snippet.title }}</h3>
                <p class="lecturelist-info__sub">{{ lecture.snippet.channelTitle }}</p>
                <i class="material-icons" ng-show="lecture.highlight" style="font-size:16px; color: #2979FF; margin-top: 4px; float:left;">check_circle</i>
                <p am-time-ago="lecture.completedAt" class="lecturelist-info__complete-date"></p>
                <!-- {{ lecture.contentDetails.duration | humanable }} -->
              </div>
            </div>

            <md-button class="lecturelist__second-action lt-button-s md-accent" ng-show="lecture.noteIconVisible" ng-click="showNote(lecture)">VIEW NOTE</md-button>
          </md-list-item>

          <div class="note-content-viewer" ng-if="isSelected(lecture)" ng-repeat="note in lecture.notes">
            <iframe ng-src="{{ note.url | trustAsResourceUrl }}"></iframe>
          </div>
        </div>
      </md-list>
    </div>
  </div>
</div>
