.align{
  vertical-align: middle;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 20px;

}

.highlight {
  background-color: #FFE57F;
}

.index{
  float: left;
  height: 30px;
}

.duration-padding{
  padding-left: 25px;
}

.visual-cont {
  max-width: 650px;
  margin: 0 auto;
}

@media (min-width: $responsive-width) {

  .list-width{
    width: 940px;
  }

}
