<div ng-include="'components/toolbar/toolbar.html'"></div>

<md-content>
  <div id="intro" md-theme="docs-dark" layout="column" layout-align="center center">
    <h2 id="slogan" class="md-headline">All you need is knowledge</h2>
    <form ng-submit="goSearch()">
      <md-input-container md-no-float>
        <md-icon md-svg-src="/assets/images/search.svg" ng-click="goSearch()"></md-icon>
        <input ng-model="q" type="search" placeholder="Search anything">
      </md-input-container>
    </form>
  </div>
</md-content>
