@mixin placeholder($color) {
  &:placeholder { color: $color; }
  &::placeholder { color: $color; }
  &:input-placeholder { color: $color; }
  &::input-placeholder { color: $color; }
}

#intro {
  background-image: url('/assets/images/main_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 23%;
  height: 450px;
}

#slogan {
  color: rgba(0, 0, 0, 0.87);
  margin: 1.15rem 0;
}

.main-search-cont {
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  padding: 8px 10px;

  input {
    @include placeholder(rgba(0, 0, 0, 0.56));
    color: rgba(0, 0, 0, 0.87);
    min-width: 500px;
    background-color: transparent;
    outline: 0;
    border: none;
  }

  .search-icon-button {
    $size: 24px;
    width: $size;
    min-height: $size;
    height: $size;
    line-height: $size;
    margin: 0;
  }
}

.grid-list-cont {
  margin: 20px 0;
}

@media (max-width: $responsive-width) {
  #intro {
    height: 250px;
  }

  #slogan {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  .main-search-cont {
    input {
      min-width: 200px;
    }
  }

}
