// scss-lint:disable QualifyingElement
lt-listcard,
lt-listcard-media,
lt-listcard-content {
  display: block;
}

lt-listcard {
  // scss-lint:disable NestingDepth
  position: relative;
  background-color: $white;
  overflow: auto;

  &.lt-listcard--morph {
    @include respond-to('small') {
      box-shadow: $whiteframe-shadow-1dp;

      lt-listcard-media {
        margin: 0;
        padding: 0;
        float: none;
      }

      lt-listcard-content,
      lt-listcard-actions {
        margin-right: 16px;
        margin-left: 16px;
      }

      lt-listcard-content {
        .lt-title-s,
        .lt-subhead-s {
          max-width: 198px;
        }
      }

      lt-listcard-actions {
        margin-top: 24px;
        margin-bottom: 20px;
      }

      lt-listcard-media img {
        $w: 230px;
        width: $w;
        height: $w * 9 / 16;
        margin: 0;
      }

      .lt-listcard__info-box {
        height: auto;
        min-height: initial;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      .lt-listcard__height-keeper {
        min-height: 48px;
      }

      .lt-listcard__height-keeper--higher {
        min-height: 63px;
      }
    }
  }

  .lt-listcard-actions { margin-top: 24px; }
}

lt-listcard-actions {
  .md-button {
    margin-top: 0;
    margin-bottom: 0;
    &:first-of-type { margin-left: 0; }
    &:last-of-type { margin-right: 0; }
  }
}

lt-listcard-media {
  margin: 0 8px;
  padding: 8px 0;
  float: left;

  img {
    $w: 128px;
    width: $w;
    height: $w * 9 / 16;
  }
}

lt-listcard-content {
  $thumb-outer-width: 144px;
  margin-right: 8px;
  margin-left: $thumb-outer-width;

  .lt-title-s,
  .lt-subhead-s {
    margin: 4px 0;
  }
}

.lt-listcard__info-box {
  @include arrange-in-frame;
  position: relative;
  min-height: 88px - (8 * 2);
  margin-right: 0;
  margin-left: 0;
  >*:first-child { margin-top: 0; }
}

.lt-listcard__inner--squashed {
  padding-right: 40px;
}

.lt-listcard__inner--squashed-only-desktop {
  padding-right: 0;
  @include respond-to('small') { padding-right: 40px; }
}


.lt-listcard__small-sign {
  $mobile-offset: 8px;
  $web-offset: $mobile-offset * 2;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

