
<div ng-include="'components/toolbar/toolbar.html'"></div>
<md-content>

<div class="content-width">

  <!-- 클래스에 가장 처음 업로드된 강의 -->

  <div class="headContents">
    <div class="firstLecture test">
      <div class="embed-item-limit-width">
        <div class="embed-responsive embed-responsive-16by9">
          <youtube-video class="embed-responsive-item" video-id="firstVideoId"></youtube-video>
        </div>
      </div>
    </div>






    <!-- 클래스 소개 -->
    <div class="classIntro">
      <div class="chIntroDiv">
        <h1>{{classe.snippet.title}}</h1>

        <!-- teacher -->
        <div style="width:160px; float:left">
          <div class="teacher-icon">
            <img ng-src="assets/images/teacher.png" height="20px">
          </div>
          <div>
            <h5>&nbsp&nbsp{{classe.snippet.channelTitle}}</h5>
          </div>
        </div>

        <!-- total playtime -->
        <div style="width:187px float:left">
          <div class="teacher-icon">
            <img ng-src="assets/images/playtime.png" height="20px">
          </div>
          <div>
            <h5>&nbsp&nbspTotal playtime : {{ playtimeHour }}H&nbsp{{ playtimeMin }}M&nbsp{{ playtimeSec }}S</h5>
          </div>
        </div>

        <!-- 클래스 소개 더보기 -->
        <!--  change()에서 return한 true,false에 의해 class명을 바꾸자.  -->

        <div>
          <hm-read hmtext="{{ desc }}" hmlimit="20" hm-more-text="read more" hm-less-text="read less"></hm-read>
        </div>




        <!-- 연습만이 살길이다! -->



        <div class="md-actions" layout="row" layout-align="end center">
          <md-button class="md-raised" ng-show="isLoggedIn()" ng-click="addClass()">Add Class</md-button>
        </div>
      </div>
    </div>
  </div>
  <md-divider></md-divider>








  <!-- 선생님 소개  -->
  <div class="content-width content-background">

    <div class="tutorIntro">

      <!-- 선생님 썸네일 (채널 대표 이미지) -->
      <div class="thumbAndTitle">
        <div class="thumbnail">
          <img ng-src="{{ channel.snippet.thumbnails.default.url }}"  style="border-radius:45px">
        </div>
        <!-- 체널 타이틀 -->
        <div>
          <h4 style="color:grey; margin-bottom:0px;">TUTOR</h4>
          <h1 class="font-light-300">{{ channel.snippet.title }}.&nbsp</h1>
        </div>

        <br><br>

        <!-- 선생님 소개 (채널 소개) 더보기 -->
        <!--  change()에서 return한 true,false에 의해 class명을 바꾸자.  -->
        <div class="tutorDescDiv">
          <div>
            <hm-read hmtext="{{ channel.snippet.description }}" hmlimit="20" hm-more-text="read more" hm-less-text="read less"></hm-read>
          </div>
        </div>
      </div>
    </div>





<!--     <md-list-item class="md-2-line" ng-repeat="lecture in lecArrSorting">
      <h5>{{ lecture.index }}</h5>
      <img ng-src="{{ lecture.snippet.thumbnails.default.url }}" class="md-avatar">
        <div class="md-list-item-text">
          <h3>{{ lecture.snippet.title }}</h3>
          <p>{{ lecture.contentDetails.duration }}</p>
        </div>
      </md-list-item>
    -->






    <!-- 클래스 내의 강의 목록 -->
    <div class="middle">
      <h3>Lectures in this Class</h3>
    </div>


    <div class="lectureList">
      <div ng-repeat="lecture in lecArrSorting" ng-click="go('Lecture', { pid: playlistId, vid: lecture.videoId })">

        <div class="content-width align">
          <div style="width:600px; float:left">
            <!--  강의 번호  -->
            <div id="lecture-position" style="width:25px">
              <h5 size="1" maxlength="15">{{ lecture.index }}.&nbsp&nbsp</h5>
            </div>

            <!--  강의 썸네일  -->
            <div id="lecture-img">
              <img ng-src="{{ lecture.snippet.thumbnails.default.url }}" width="64" height="36">
            </div>

            <!--  강의 제목  -->
            <div id="lecture-title">
              <h5 class="font-light-400">&nbsp&nbsp{{ lecture.snippet.title }}</h5>
            </div>
          </div>

          <!--  강의 재생시간  -->
          <div>
            <h5>{{ lecture.contentDetails.duration }}&nbsp</h5>
          </div>
          <br>

        </div>
        <md-divider></md-divider>

      </div>
    </div>



    <!-- 클래스의 동영상 더보기 -->
    <div id="">
      <p ng-click="">Load more</p>
    </div>
  </div>
</div>
</div>
</md-content>
