


 .box .textBefore{
        position:                   relative;
        font-family:                sans-serif;
        display:                    block;
        width:                      auto;
        height:                     4em;
        overflow:                   hidden;
    }

  .box .textAfter{
        position:                   relative;
        font-family:                sans-serif;
        display:                    block;
        width:                      auto;
        height:                     auto;
        overflow:                   hidden;
    }

  .tutorDesc{
    color: rgba(0,0,0,0.54);

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 24px;
    margin: 0 0 0px 0;
    line-height: 1.6em;

    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

 /*  .box{
    margin-left:15px;
  } */

