$panel-offset: 10px;

.embed-item-limit-width {
  margin: $panel-offset auto 0 auto;
  max-width: 640px;

  .embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;

    &.embed-responsive-16by9 {
      padding-bottom: 56.25%;
    }

  }
}

.embed-responsive-item {
  position: absolute;
  max-width: 640px;
  width: 100%;
  height: 100%;
  border: 0;
}

.content-top-mt {
  margin-top: $panel-offset;
}

.note-item {
  margin-bottom: 10px;
  .avatar {
    margin: 0;
  }
  .userinfo {
    margin-left: $avatar-size;
    p {
      margin: 0;
      padding: 0 20px;
      line-height: $avatar-size;
    }
  }
}

.lecture-details-item{
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
}

.detailsFooter{
  padding-top: 10px;
}

.icon{
  padding-top: 2px;
}

.likeCount{
  padding-right: 10px;
}

input.note-file-uploader {
  width: 225px; 
}

@media (max-width: $responsive-width) {
  .embed-item-limit-width {
    margin: 0 auto;
  }
  .content-top-mt {
    margin-top: 0;
  }
}
