<div ng-include="'components/toolbar/toolbar.html'"></div>

<md-content>

  <div class="embed-item-limit-width">
    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video class="embed-responsive-item" video-id="videoId" player-vars="playerVars"></youtube-video>
    </div>
  </div>

  <div class="content-width content-background content-top-mt">

    <div class="video-info-panel md-padding">
      <h1 class="md-title">{{ item.snippet.title }}</h1>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="toggleEditor()">Note</md-button> 
        <md-button class="md-raised md-primary" ng-click="completeLecture()">Complete</md-button>
      </div> 
    </div>

    <md-divider></md-divider>

    <div ng-show="isEditorOn">
      <form ng-submit="doneNote()">
        <textarea id="newNote" ng-model="noteContents" ckeditor></textarea>
        <md-button type="submit" class="md-raised">Done</md-button>
      </form>
    </div>

    <div ng-if="isLoggedIn()">

      <div class="md-padding" ng-repeat="note in notes">
        <div ng-hide="note.isEditing">
          <div class="note-item">
            <img class="avatar" ng-src="{{ getUserImgPath(getCurrentUser()) }}" alt="Account Image"/>
            <div class="userinfo">
              <p class="md-subhead">{{ getCurrentUser().name }}</p>
            </div>
          </div>

          <md-divider></md-divider>

          <iframe ng-if="shouldBeEmbedded(note)" class="note-contents-viewer" ng-src="{{ note.url | trustAsResourceUrl }}"></iframe>

          <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="editNote(note)">Edit</md-button>
            <md-button class="md-raised md-warn" ng-click="deleteNote(note)">Delete</md-button>
          </div>
        </div>

        <div ng-if="note.isEditing">
          <form ng-submit="updateNote(note)">
            <textarea ng-model="note.contents" ckeditor></textarea>
            <md-button class="md-raised md-warn" ng-click="cancelEditing(note)">Cancel</md-button>
            <md-button type="submit" class="md-raised">Update</md-button>
          </form>
        </div>
      </div>

    </div>

    <div class="others-notes-cont">
      <div class="md-padding" ng-repeat="note in othersNotes">
        <div class="note-item">
          <img class="avatar" ng-src="{{ note.userId.google.image.url }}" alt="Account Image"/>
          <div class="userinfo">
            <p class="md-subhead">{{ note.userId.name }}</p>
          </div>
        </div>

        <md-divider></md-divider>

        <iframe ng-if="shouldBeEmbedded(note)" class="note-contents-viewer" ng-src="{{ note.url | trustAsResourceUrl }}"></iframe>
      </div>
    </div>

  </div>
</md-content>
