<div ng-include="'components/toolbar/toolbar.html'"></div>

<div class="embed-item-limit-width">
  <div class="embed-responsive embed-responsive-16by9">
    <youtube-video class="embed-responsive-item" video-id="videoId"></youtube-video>
  </div>
</div>

<div class="content-width content-all">
  <div>
    <md-content class="video-info-panel" layout-padding>
      <h1 class="md-title">{{ item.snippet.title }}</h1>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="toggleNote()">Note</md-button>
        <md-button class="md-raised md-primary" ng-click="completeLecture()">Complete</md-button>
      </div> 
    </md-content>
  </div>
  <md-divider></md-divider>
  <div>
    <md-content layout-padding>
      <img class="avatar" ng-src="{{ getUserImgPath(getCurrentUser()) }}" alt="Account Image"/>
      <div>
        <p class="md-subhead">{{ getCurrentUser().name }}</p>
      </div>
      <md-divider md-inset></md-divider>
      <note-viewer contents="contents"></note-viewer>
    </md-content>
  </div>
  <div ng-show="isNoteOn">
    <form ng-submit="doneNote()">
      <textarea id="note" name="note" ng-model="note" ckeditor></textarea>
      <md-button type="submit" class="md-raised">Done</md-button>
    </form>
  </div>
</div>
