// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

md-content,
body {
  background-color: $main-bg-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;

  @include on-event {
    text-decoration: underline;
  }
}

svg {
  width: 100%;
  fill: $text-svg-color;
  fill-opacity: $text-opacity;
  stroke-opacity: $text-opacity;
}

