// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

body {
  background-color: $main-bg-color;
  overflow: hidden;
}

* { outline: none; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;

  @include on-event {
    text-decoration: underline;
  }
}

svg {
  width: 100%;
  fill: $text-svg-color;
  fill-opacity: $text-opacity;
  stroke-opacity: $text-opacity;
}


md-whiteframe {
  background-color: $white;
}

figure {
  margin: 0;
}

lt-note-unit,
lt-note-object,
lt-note-actions,
lt-star-rating,
lt-class {
  display: block;
}

md-icon {
  outline: none;
}

img {
  vertical-align: middle;
}

ul { list-style-type: none; }

ul,
li {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;

  @include respond-to('small') {
    background: $white;
  }
}

iframe { border: 0; }

button {
  margin: 0;
  padding: 0;
  border: 0;
}
