// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Clear inner floats
// http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

md-list {
  &.numbering {
    counter-reset: h3counter;

    h3:before {
      content: counter(h3counter) '.\0000a0';
      counter-increment: h3counter;
    }
  }
}
