// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Clear inner floats
// http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best
.clearfix::after {
  display: table;
  clear: both;
  content: '';
}
