md-list-item {
  .md-list-item-text > .second-icon-padding {
    $md-icon-wrapper-size: 48px;
    padding-right: $md-icon-wrapper-size;
  }
}

.md-button {
  &.youtube-bg {
    background-color: $youtube-color;
    &:not([disabled]):hover { background-color: $youtube-color-action; }
  }
}
