// scss-lint:disable QualifyingElement SelectorDepth
md-list-item {
  .md-list-item-text > .second-icon-padding {
    $md-icon-wrapper-size: 48px;
    padding-right: $md-icon-wrapper-size;
  }
}

.md-button {
  &.youtube-bg {
    background-color: $youtube-color;
    &:not([disabled]):hover { background-color: $youtube-color-action; }
  }

  &.md-raised-color-accent { color: rgba($blue-a200, 0.87); }
  &.md-raised-color-warn { color: rgba($deep-orange-500, 0.87); }
}

.lecturelist {
  md-list-item.md-2-line,
  md-list-item.md-2-line > .md-no-style {
    height: auto;
  }

  md-list-item.md-2-line .md-list-item-text h3,
  md-list-item.md-2-line > .md-no-style .md-list-item-text h3 {
    white-space: normal;
  }
}

.category-sidenav {
  width: calc(100% - 56px);
  min-width: calc(100% - 56px);
  max-width: calc(100% - 56px);

  &.md-locked-open {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
  }
}

// customizing toolbar height
md-toolbar {
  min-height: 56px;
}

.md-toolbar-tools {
  height: 56px;
  max-height: 56px;
}

// customizing tabs height
md-tabs-canvas {
  height: 55px;
}

md-pagination-wrapper {
  height: 55px;
}

.md-tab {
  line-height: 31px;
}

md-tabs[md-border-bottom]:not(.md-dynamic-height) md-tabs-content-wrapper {
  top: 56px;
}

md-tabs-content-wrapper {
  top: 55px;
}


// customizing tab indicator
md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar { background: $amber-500; }

md-tabs.md-primary md-ink-bar { background: $amber-900; }

md-fab-actions {
  .md-button.md-fab md-icon {
    color: $grey-600;
  }
}

.md-input-container--no-margin {
  margin: 0;
  .md-errors-spacer { min-height: 0; }
}


// angular-slick
.slick-dots {
  bottom: -30px;
}
