// -----------------------------------------------------------------------------
// This file contains basic typography style
// -----------------------------------------------------------------------------
.lt-title-s {
  font-size: 13px;
  line-height: 16px;
}

.lt-subhead-s,
.lt-caption-s {
  color: rgba($black, 0.56);
  font-size: 10px;
  line-height: 12px;
}
