<md-sidenav flex="none" class="md-sidenav-left md-whiteframe-z2 category-sidenav"
ng-include="'components/sidenav/sidenav.html'" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
</md-sidenav>

<div flex layout="column">
  <md-toolbar class="md-whiteframe-z1" flex="none" ng-include="'components/toolbar/toolbar.html'"></md-toolbar>
  <div flex class="flex-scroll categories">

    <div ng-repeat="category in classArr">
      <p class="md-body-2 category-title">{{ category[0].categorySlug }}</p>

      <div class="classes-of-category">
        <div infinite-scroll="loadMore()" infinite-scroll-disabled="httpBusy || !getPageToken()"
        infinite-scroll-distance="1">

          <div ng-repeat="class in category">
            <div class="class-listcard">
              <a class="anchor-mask" ng-href="{{ href(class.playlistId) }}">
                <div class="class-listcard__thumbnail">
                  <img class="class-listcard__thumbnail-img" ng-src="{{ class.thumbnailUrl }}" alt="class Thumbnail">
                </div>

                <md-content class="md-list-item-text class-listcard__info">
                  <div class="class-listcard__info-box">
                    <h3 class="ellipsis class-listcard__info-title lt-title-s">{{ class.playlistTitle }}</h3>
                    <p class="class-listcard__info-sub lt-subhead-s">{{ class.channelTitle }}</p>
                    <span class="class-listcard__info-sub-views lt-caption-s">{{ class.views | thousandSuffix }}</span>
                    <div class="star-rate">
                      <img class="star-rate__item" src="assets/images/star_rate.png" alt="star rate">
                      <div class="star-rate__bar" style="width: {{ class.rate }}%"></div>
                    </div>
                  </div>
                </md-content>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
