<div ng-include="'components/toolbar/toolbar.html'"></div>

<div class="content-width">
  <md-content class="md-padding">

    <md-card class="watched-class-card" ng-repeat="classe in classes">
      <img ng-src="{{ classe.item.snippet.thumbnails.high.url }}" class="md-card-image" alt="Class Image">
      <md-card-content>
        <h2 class="md-title">{{ classe.item.snippet.title }}</h2>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-warn" ng-click="deleteClass(classe)">Delete</md-button>
      </div>
    </md-card>

  </md-content>
</div>
