<div ng-include="'components/sidenav/sidenav.html'"></div>
<div ng-include="'components/toolbar/toolbar.html'"></div>

<md-content>

  <div class="content-width" layout-padding>
    <md-card class="watched-class-card" ng-repeat="classe in classes">

      <div class="card-image-cont cursor-pointer">
        <img id="thumbnail" ng-src="{{ classe.item.snippet.thumbnails.high.url }}" ng-click="go('WatchedLectureList', { pid: classe.playlistId })" class="md-card-image" alt="Class Image">

        <div class="overlay cursor-pointer" ng-show="classe.graph" ng-click="go('WatchedLectureList', { pid: classe.playlistId })">
          <div class="content-position">
            <div class="progress-text progress-media">
              <p>Progress</p>
            </div>

            <div class="progressbar-outline">
              <div class="percentage-div">
                <p class="md-caption percentage-p">{{ classe.percentage }}%</p>
              </div>
              <div class="progressbar-inline" style="width: {{ classe.percentage }}%; height: 12px;"></div>
            </div>

            <div class="texts texts-media hide-detail">
              <div class="md-caption watched-text float-left">
                <p class="margin-zero-graph">Watched: {{ classe.numberOfWatched }} / {{ classe.item.contentDetails.itemCount }}</p>
              </div>

              <div class="md-caption notes-text float-right">
                <p class="margin-zero-graph">Notes: {{ classe.numberOfNote }}</p>
              </div>
            </div>
          </div>

        </div>

      </div>

      <md-card-content>
        <h2 class="md-title">{{ classe.item.snippet.title }}</h2>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="md-button" ng-click="showGraph(classe)">Graph</md-button>
        <md-button class="md-warn" ng-click="deleteClass(classe)">Delete</md-button>
      </div>
    </md-card>
  </div>

</md-content>
