<div flex layout="column">
  <md-toolbar class="md-whiteframe-z1" flex="none" ng-include="'components/toolbar/toolbar.html'"></md-toolbar>
  <md-content flex md-scroll-y layout="column">
    <div layout="column" flex>
      <div class="intro" layout="column" layout-align="center center">

        <h2 class="intro__slogan" class="md-headline"><strong>All you need is knowledge</strong></h2>

        <form ng-submit="go('Search', { q: q })">
          <div class="search-content">
            <input class="md-body-1" ng-model="q" type="search" placeholder="Search anything">
            <md-button class="md-icon-button search-content__search-icon-button" aria-label="Search" ng-click="go('Search', { q: q })">
              <md-icon md-font-set="material-icons">search</md-icon>
            </md-button>
          </div>
        </form>
      </div>
      <footer class="footer" hide-sm></footer>
    </div>
  </md-content>
</div>
