<div flex layout="column">
  <md-toolbar class="md-whiteframe-z1" flex="none" ng-include="'components/toolbar/toolbar.html'"></md-toolbar>
  <md-content flex md-scroll-y layout="column">
    <div flex>
      <div class="intro" layout="column" layout-align="center center">
        <h3 class="md-headline intro__slogan" class="md-headline"><strong>Lorem Ipsum</strong></h2>
        <h4 class="md-subhead intro__sub-slogan">consectetur adipiscing elit.</h4>
        <md-button ng-click="go('category-all')" class="md-raised intro__btn">Learn more</md-button>
      </div>

      <div class="service-feature">
        <div class="service-feature__container">
          <div class="service-feature__item">
            <md-icon md-font-set="material-icons" class="service-feature__icon">movie</md-icon>
            <h4 class="md-title service-feature__title">YOUTUBE</h4>
            <p class="md-body-1 service-feature__body"> Cras eget rutrum elit. Ut dictum massa sit amet dui bibendum, vitae congue arcu tincidunt.</p>
          </div>

          <div class="service-feature__item">
            <md-icon md-font-set="material-icons" class="service-feature__icon">note_add</md-icon>
            <h4 class="md-title service-feature__title">FREE</h4>
            <p class="md-body-1 service-feature__body"> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
          </div>

          <div class="service-feature__item">
            <md-icon md-font-set="material-icons" class="service-feature__icon">cast</md-icon>
            <h4 class="md-title service-feature__title">AWESOME</h4>
            <p class="md-body-1 service-feature__body"> Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
          </div>
        </div>
      </div>

      <div class="popular-classes">
        <div class="popular-classes__intro">
          <h2 class="md-headline">Popular classes</h2>
          <p class="md-subhead">Consectetur quae voluptate voluptas molestiae veniam ad esse</p>
        </div>
        <slick class="carousel" arrows="false" dots="true" infinite="true" init-onload="true"
        data="popularClasses" autoplay="true" autoplay-speed="5000" slides-to-show="5"
        speed="1000" touch-move="true" responsive="slick.responsive">
          <div ng-repeat="classe in popularClasses">
            <md-card class="carousel__card">
              <img ng-src="{{ classe.snippet.thumbnails.medium.url }}">
              <div class="carousel__info">
                <h2 class="ellipsis-2 lt-title-s">{{ classe.snippet.title }}</h2>
                <p class="lt-subhead-s">{{ classe.snippet.channelTitle }}</p>
              </div>
            </md-card>
          </div>
        </slick>
      </div>
      <footer class="footer"></footer>
    </div>
  </md-content>
</div>
