<md-dialog class="add-dialog" aria-label="Add lecture">
  <md-tabs class="add-dialog__lec" md-border-bottom md-stretch-tabs="always">
    <md-tab label="Search">
      <div layout-padding>
        <form ng-submit="search(query)">
          <md-input-container md-no-float class="md-block md-accent md-input-container--no-margin">
            <input type="search" ng-model="query" placeholder="Search videos">
          </md-input-container>
        </form>
      </div>

      <ul>
        <li ng-repeat="video in searched">
          <button class="anchor-mask">
            <lt-listcard lt-responsive-morph="false" lt-scale-down="true" ng-click="selectVideo(video)"
            ng-class="{ 'search-box--lecture-selected': isSelected(video) }">
              <lt-listcard-media>
                <div class="video-thumb">
                  <img ng-src="{{ video.thumbnailUrl }}" alt="Video thumbnail">
                  <p class="video-thumb__duration lt-caption-s">{{ video.duration | humanable }}</p>
                </div>
              </lt-listcard-media>

              <lt-listcard-content>
                <div class="lt-listcard__height-keeper">
                  <h3 class="ellipsis-2 lt-listcard__inner--squashed lt-title-s">{{ video.title }}</h3>
                  <p class="ellipsis-1 lt-subhead-s">{{ video.channelTitle }}</p>
                </div>
                <span class="lt-listcard__small-sign lt-caption-s">{{ video.stats.viewCount | thousandSuffix }}</span>
              </lt-listcard-content>
            </lt-listcard>
          </button>
        </li>
      </ul>
    </md-tab>

    <md-tab label="My videos" md-on-select="getMyVideos()">
      <ul>
        <li ng-repeat="video in myVideos">
          <button class="anchor-mask">
            <lt-listcard lt-responsive-morph="false" lt-scale-down="true" ng-click="selectVideo(video)"
            ng-class="{ 'search-box--lecture-selected': isSelected(video) }">
              <lt-listcard-media>
                <div class="video-thumb">
                  <img ng-src="{{ video.thumbnailUrl }}" alt="Video thumbnail">
                  <p class="video-thumb__duration lt-caption-s">{{ video.duration | humanable }}</p>
                </div>
              </lt-listcard-media>

              <lt-listcard-content>
                <div class="lt-listcard__height-keeper">
                  <h3 class="ellipsis-2 lt-listcard__inner--squashed lt-title-s">{{ video.title }}</h3>
                  <p class="ellipsis-1 lt-subhead-s">{{ video.channelTitle }}</p>
                </div>
                <span class="lt-listcard__small-sign lt-caption-s">{{ video.stats.viewCount | thousandSuffix }}</span>
              </lt-listcard-content>
            </lt-listcard>
          </button>
        </li>
      </ul>
    </md-tab>
  </md-tabs>

  <form ng-submit="addLecture(selectedVideo)">
    <md-dialog-actions layout="row">
      <md-button type="button" class="md-accent" ng-click="cancel()">
        Cancel
      </md-button>
      <md-button type="submit" class="md-accent">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

