<md-dialog class="add-dialog" aria-label="New class">
  <form ng-submit="attachFile(file)">

    <md-dialog-content>
      <h2 class="md-title">Attach File</h2>

      <input ng-hide="haveUploadedFile(lecture)" type="file" name="file" file-model="file">

      <div ng-show="haveUploadedFile(lecture)">
        <h3 class="md-subhead">Uploaded file</h3>
        <a href="{{ lecture.file.url }}" download>File download</a>
      </div>
    </md-dialog-content>

    <div class="md-actions" layout="row">
      <md-button type="button" class="md-warn" ng-disabled="!haveUploadedFile(lecture)"
      ng-click="deleteFile(lecture)">
        Delete file
      </md-button>
      <span flex></span>
      <md-button type="button" class="md-warn" ng-click="cancel()">
        Cancel
      </md-button>
      <md-button type="submit" ng-disabled="haveUploadedFile(lecture)">
        Add
      </md-button>
    </div>

  </form>
</md-dialog>

