<md-content class="classroom-content" layout="column" layout-gt-sm="row">
  <div flex-sm="none" flex-gt-sm layout-gt-sm="column" class="classroom-view-area">
    <md-toolbar class="md-whiteframe-z1" flex="none">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h2>
          <span>{{ item.snippet.title }}</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Done">
          <md-icon md-font-set="material-icons">done</md-icon>
        </md-button>
        <md-button class="md-icon-button" target="_self" ng-href="{{ getDownloadUrl() }}"
        aria-label="Download handout" download>
          <md-icon md-font-set="material-icons">file_download</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="youtube-video youtube-video--fullsize" flex>
      <youtube-video class="youtube-video__item" video-id="videoId"></youtube-video>
    </div>
  </div>

  <md-tabs flex class="tab-area" md-border-bottom md-stretch-tabs="always">
    <md-tab>
      <md-tab-label>
        <md-icon md-font-set="material-icons">info_outline</md-icon>
      </md-tab-label>
      <md-tab-body>
        <div class="frame-padding">
          <h1 class="md-title">{{ item.snippet.title }}</h1>
          <p class="md-body-1" ng-bind-html="item.snippet.description"></p>
          <div class="lecture-info frame-top-padding">
            <span class="md-caption lecture-info__etc">Hits : {{ item.statistics.viewCount }}</span>
            <span class="md-caption lecture-info__etc">Upload : {{ publishedDate }}</span>
          </div>

          <div class="lecture-info frame-top-padding">
            <span class="lecture-info__sub">
              <md-icon md-font-set="material-icons">thumb_up</md-icon>
              <span class="md-caption">{{ item.statistics.likeCount }}</span>
            </span>
            <span class="lecture-info__sub">
              <md-icon md-font-set="material-icons">thumb_down</md-icon>
              <span class="md-caption">{{ item.statistics.dislikeCount }}</span>
            </span>
          </div>
        </div>

      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <md-icon md-font-set="material-icons">view_list</md-icon>
      </md-tab-label>
      <md-tab-body>
        <div>
          <md-list class="numbering">
            <div infinite-scroll="loadMore()" infinite-scroll-disabled="httpBusy || !getPageToken()"
            infinite-scroll-distance="1">

              <md-list-item class="lecturelist__item" ng-repeat="lecture in lectureList" ng-click="go('classroom', { pid: playlistId, vid: lecture.snippet.resourceId.videoId })">
                <div class="lecturelist-thumb-and-duration">
                  <p class="lecturelist-thumb-and-duration__duration">{{ lecture.contentDetails.duration | humanable }}</p>
                  <img class="lecturelist-thumb-and-duration__thumbnail" ng-src="{{ lecture.snippet.thumbnails.medium.url }}"
                  alt="Lecture Thumbnail">
                </div>

                <div class="md-list-item-text lecturelist-info">
                  <h3 class="ellipsis lecturelist-info__title">{{ lecture.snippet.title }}</h3>
                  <p class="lecturelist-info__sub">{{ lecture.snippet.channelTitle }}</p>
                  <p class="lecturelist-info__sub">{{ lecture.viewCount.viewCount }}</p>
                  <!-- {{ lecture.contentDetails.duration | humanable }} -->
                </div>
              </md-list-item>
            </div>

        </div>
        </md-list>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <md-icon md-font-set="material-icons">description</md-icon>
      </md-tab-label>
      <md-tab-body class="md-padding">
        <h1 class="md-display-2">Tab Three</h1>
        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus.
          Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus
          quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum
          nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula
          diam, congue eu enim scelerisque, finibus commodo lectus.</p>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <md-icon md-font-set="material-icons">question_answer</md-icon>
      </md-tab-label>
      <md-tab-body>
        <h1 class="md-display-2">Tab Four</h1>
        <p>Allo Allo!</p>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>

