<md-content class="classroom-content" layout="column" layout-gt-sm="row">
  <div flex-sm="none" flex-gt-sm layout-gt-sm="column" class="classroom-view-area">
    <md-toolbar class="md-whiteframe-z1" flex="none">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h2>
          <span>{{ item.snippet.title }}</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Done">
          <md-icon md-font-set="material-icons">done</md-icon>
        </md-button>
        <md-button class="md-icon-button" target="_self" ng-href="{{ getDownloadUrl() }}"
        aria-label="Download handout" download>
          <md-icon md-font-set="material-icons">file_download</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="youtube-video youtube-video--fullsize" flex>
      <youtube-video class="youtube-video__item" video-id="videoId"></youtube-video>
    </div>
  </div>

  <md-fab-speed-dial class="md-fling fixed-fab" md-open="fab.isOpen" md-direction="up"
  ng-show="fab.isShowing">
    <md-fab-trigger>
      <md-button class="md-fab" aria-label="Add note menu" ng-disabled="fab.isDisabled"
      ng-click="toggle">
        <md-icon md-font-set="material-icons">add</md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions>
      <md-button aria-label="File" class="md-fab md-raised md-mini" ng-class="fab.ngClass"
      type="file" ngf-select="showUpNote(note.file, $file)" accept="image/*">
        <md-icon md-font-set="material-icons">file_upload</md-icon>
      </md-button>
      <md-button aria-label="Web-editor" class="md-fab md-raised md-mini" ng-class="fab.ngClass"
      ng-click="showUpNote(note.editor, true)">
        <md-icon md-font-set="material-icons">mode_edit</md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>

  <md-tabs flex class="tab-area" md-border-bottom md-stretch-tabs="always">
    <md-tab>
      <md-tab-label>
        <md-icon md-font-set="material-icons">info_outline</md-icon>
      </md-tab-label>
      <md-tab-body>
        <div class="frame-padding">
          <h1 class="md-title">{{ item.snippet.title }}</h1>
          <p class="md-body-1" ng-bind-html="item.snippet.description"></p>
          <div class="lecture-info frame-top-padding">
            <span class="md-caption lecture-info__etc">Hits : {{ item.statistics.viewCount }}</span>
            <span class="md-caption lecture-info__etc">Upload : {{ publishedDate }}</span>
          </div>

          <div class="lecture-info frame-top-padding">
            <span class="lecture-info__sub">
              <md-icon md-font-set="material-icons">thumb_up</md-icon>
              <span class="md-caption">{{ item.statistics.likeCount }}</span>
            </span>
            <span class="lecture-info__sub">
              <md-icon md-font-set="material-icons">thumb_down</md-icon>
              <span class="md-caption">{{ item.statistics.dislikeCount }}</span>
            </span>
          </div>
        </div>

      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <md-icon md-font-set="material-icons">view_list</md-icon>
      </md-tab-label>
      <md-tab-body>
        <div>
          <md-list class="numbering">
            <div infinite-scroll="loadMore()" infinite-scroll-disabled="httpBusy || !getPageToken()"
            infinite-scroll-distance="1">

              <md-list-item class="lecturelist__item" ng-repeat="lecture in lectureList">
                <a class="anchor-mask" ng-href="/class/{{ playlistId }}/lecture/{{ lecture.snippet.resourceId.videoId}}">
                  <div class="lecturelist-thumb-and-duration">
                    <p class="lecturelist-thumb-and-duration__duration">{{ lecture.contentDetails.duration | humanable }}</p>
                    <img class="lecturelist-thumb-and-duration__thumbnail" ng-src="{{ lecture.snippet.thumbnails.medium.url }}"
                    alt="Lecture Thumbnail">
                  </div>

                  <div class="md-list-item-text lecturelist-info">
                    <h3 class="ellipsis-2 lecturelist-info__title">{{ lecture.snippet.title }}</h3>
                    <p class="lecturelist-info__sub">{{ lecture.snippet.channelTitle }}</p>
                    <p class="lecturelist-info__sub">{{ lecture.viewCount.viewCount }}</p>
                    <!-- {{ lecture.contentDetails.duration | humanable }} -->
                  </div>
                </a>
              </md-list-item>
            </div>

        </div>
        </md-list>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab md-on-select="fab.show(true)" md-on-deselect="fab.show(false)" ng-disabled="!isLoggedIn()">
      <md-tab-label>
        <md-icon md-font-set="material-icons">description</md-icon>
      </md-tab-label>
      <md-tab-body>
        <div class="frame-padding tab-area__note">
          <lt-note-unit lt-note-type="editor" ng-if="note.editor.activator" lt-note-model="note.editor">
            <lt-note-object></lt-note-object>
            <lt-note-actions lt-on-cancel="fab.enable()" lt-on-add="note.upload($type, $file)"></lt-note-actions>
          </lt-note-unit>

          <lt-note-unit lt-note-type="file" ng-if="note.file.activator" lt-note-model="note.file">
            <lt-note-object></lt-note-object>
            <lt-note-actions lt-on-cancel="fab.enable()" lt-on-add="note.upload($type, $file)"></lt-note-actions>
          </lt-note-unit>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab ng-disabled="true">
      <md-tab-label>
        <md-icon md-font-set="material-icons">question_answer</md-icon>
      </md-tab-label>
      <md-tab-body>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>
