<md-content class="classroom-content" layout="column" layout-gt-xs="row">
  <div flex-xs="none" flex-gt-xs layout-gt-xs="column" class="classroom-view-area">
    <md-toolbar class="md-whiteframe-z1" flex="none" ng-include="'components/toolbar/toolbar-classroom.html'"></md-toolbar>
    <div class="youtube-video youtube-video--fullsize" flex>
      <youtube-video class="youtube-video__item" video-id="videoId"></youtube-video>
    </div>
  </div>

  <md-fab-speed-dial class="md-fling md-fab-bottom-right" md-open="fab.isOpen" md-direction="up"
  ng-show="fab.isShowing">
    <md-fab-trigger>
      <md-button class="md-fab" aria-label="Add note menu" ng-disabled="fab.isDisabled"
      ng-click="toggle">
        <md-icon md-font-set="material-icons">add</md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions>
      <md-button aria-label="File" class="md-fab md-raised md-mini" ng-class="fab.ngClass"
      type="file" ngf-select="showUpNote(noteObj.file, $file)" accept="image/*">
        <md-icon md-font-set="material-icons">file_upload</md-icon>
      </md-button>
      <md-button aria-label="Web-editor" class="md-fab md-raised md-mini" ng-class="fab.ngClass"
      ng-click="showUpNote(noteObj.editor, true)">
        <md-icon md-font-set="material-icons">mode_edit</md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>

  <md-tabs flex class="tab-area" md-border-bottom md-stretch-tabs="always">
    <md-tab>
      <md-tab-label>
        <md-icon md-font-set="material-icons">info_outline</md-icon>
      </md-tab-label>
      <md-tab-body>
        <div class="frame-padding">
          <h1 class="md-title">{{ item.snippet.title }}</h1>
          <p class="md-body-1" ng-bind-html="item.snippet.description"></p>
          <div class="lecture-info">
            <span class="md-caption lecture-info__etc">Hits : {{ item.statistics.viewCount }}</span>
            <span class="md-caption lecture-info__etc">Upload : {{ publishedDate }}</span>
          </div>

          <div class="lecture-info">
            <span class="lecture-info__sub">
              <md-icon md-font-set="material-icons">thumb_up</md-icon>
              <span class="md-caption">{{ item.statistics.likeCount }}</span>
            </span>
            <span class="lecture-info__sub">
              <md-icon md-font-set="material-icons">thumb_down</md-icon>
              <span class="md-caption">{{ item.statistics.dislikeCount }}</span>
            </span>
          </div>
        </div>

      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <md-icon md-font-set="material-icons">view_list</md-icon>
      </md-tab-label>
      <md-tab-body>
        <ul class="numbering whiteframe__lecturelist">
          <li ng-repeat="lecture in lectureList">
            <a class="anchor-mask" ng-href="{{ href('classroom', { pid: playlistId, vid: lecture.snippet.resourceId.videoId }) }}">
              <lt-listcard lt-responsive-morph="false">
                <lt-listcard-media>
                  <div class="video-thumb">
                    <img ng-src="{{ lecture.snippet.thumbnails.medium.url }}" alt="Lecture thumbnail">
                    <p class="video-thumb__duration lt-caption-s">{{ lecture.contentDetails.duration | humanable }}</p>
                  </div>
                </lt-listcard-media>

                <lt-listcard-content>
                  <h3 class="ellipsis-2 lt-listcard__inner--squashed lt-title-s">{{ lecture.snippet.title }}</h3>
                  <p class="ellipsis-1 lt-subhead-s">{{ lecture.snippet.channelTitle }}</p>
                  <span class="lt-listcard__small-sign lt-caption-s">{{ lecture.statistics.viewCount | thousandSuffix }}</span>
                </lt-listcard-content>
              </lt-listcard>
            </a>
          </li>
        </ul>
      </md-tab-body>
    </md-tab>
    <md-tab md-on-select="fab.show(true)" md-on-deselect="fab.show(false)" ng-disabled="!isLoggedIn()">
      <md-tab-label>
        <md-icon md-font-set="material-icons">description</md-icon>
      </md-tab-label>
      <md-tab-body>
        <div class="frame-padding--constant-offset tab-area__note">
          <lt-note-unit lt-note-type="editor" ng-if="noteObj.editor.activator" lt-note-model="noteObj.editor">
            <lt-note-object></lt-note-object>
            <lt-note-actions lt-on-cancel="fab.enable()" lt-on-add="noteObj.upload($file, $type)"></lt-note-actions>
          </lt-note-unit>

          <lt-note-unit lt-note-type="file" ng-if="noteObj.file.activator" lt-note-model="noteObj.file">
            <lt-note-object></lt-note-object>
            <lt-note-actions lt-on-cancel="fab.enable()" lt-on-add="noteObj.upload($file, $type)"></lt-note-actions>
          </lt-note-unit>

          <div class="my-note">
            <div class="my-note__unit" ng-repeat="note in myNotes | orderBy: '-created'">
              <div ng-if="!note.isEditing">
                <lt-note-viewer lt-note="note"></lt-note-viewer>
                <div class="action-area" layout="row" layout-align="start center">
                  <md-button class="md-raised" ng-if="isEqual(note.type, 'editor')" ng-click="editNote(note)">Edit</md-button>
                  <md-button class="md-raised md-raised-color-warn" ng-click="deleteNote(note)">Delete</md-button>
                </div>
              </div>
              <div ng-if="note.isEditing">
                <textarea ng-model="note.contents" ckeditor></textarea>
                <div class="action-area" layout="row" layout-align="start center">
                  <md-button class="md-raised" ng-if="isEqual(note.type, 'editor')" ng-click="cancelEditing(note)">Cancel</md-button>
                  <md-button class="md-raised md-accent" ng-click="updateNote(note)">Update</md-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab ng-disabled="true">
      <md-tab-label>
        <md-icon md-font-set="material-icons">question_answer</md-icon>
      </md-tab-label>
      <md-tab-body>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>
