<md-sidenav flex="none" class="md-sidenav-left md-whiteframe-z2 category-sidenav"
ng-include="'components/sidenav/sidenav-category.html'" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')">
</md-sidenav>

<div flex layout="column">
  <md-toolbar flex="none" ng-include="'components/toolbar/toolbar.html'"></md-toolbar>
  <md-tabs class="md-primary" flex md-border-bottom md-stretch-tabs="auto">
    <md-tab>
      <md-tab-label>Rating</md-tab-label>
      <md-tab-body>
        <div class="main-content__inner">
          <ul class="adaptable-card-wrapper">
            <li class="adaptable-card" ng-repeat="class in classes | orderBy: '-rate'">
              <a class="anchor-mask" ng-href="{{ href('class-summary', { pid: class.playlistId }) }}">
                <lt-listcard lt-responsive-morph="true">
                  <lt-listcard-media>
                    <img ng-src="{{ class.thumbnailUrl }}" alt="Class thumbnail">
                  </lt-listcard-media>

                  <lt-listcard-content>
                    <div class="lt-listcard__height-keeper">
                      <h3 class="ellipsis-2 lt-listcard__inner--squashed lt-title-s">{{ class.playlistTitle }}</h3>
                      <p class="ellipsis-1 lt-subhead-s">{{ class.channelTitle }}</p>
                    </div>
                    <span class="lt-listcard__small-sign lt-caption-s">{{ class.views | thousandSuffix }}</span>
                    <lt-star-rate lt-rate="class.rate"></lt-star-rate>
                  </lt-listcard-content>
                </lt-listcard>
              </a>
            </li>
          </ul>
        </div>
      </md-tab-body>
    </md-tab>

    <md-tab>
      <md-tab-label>Views</md-tab-label>
      <md-tab-body>
        <div class="main-content__inner">
          <ul class="adaptable-card-wrapper">
            <li class="adaptable-card" ng-repeat="class in classes | orderBy: '-views'">
              <a class="anchor-mask" ng-href="{{ href('class-summary', { pid: class.playlistId }) }}">
                <lt-listcard lt-responsive-morph="true">
                  <lt-listcard-media>
                    <img ng-src="{{ class.thumbnailUrl }}" alt="class Thumbnail">
                  </lt-listcard-media>

                  <lt-listcard-content>
                    <div class="lt-listcard__height-keeper">
                      <h3 class="ellipsis-2 lt-listcard__inner--squashed lt-title-s">{{ class.playlistTitle }}</h3>
                      <p class="ellipsis-1 lt-subhead-s">{{ class.channelTitle }}</p>
                    </div>
                    <span class="lt-listcard__small-sign lt-caption-s">{{ class.views | thousandSuffix }}</span>
                    <lt-star-rate lt-rate="class.rate"></lt-star-rate>
                  </lt-listcard-content>
                </lt-listcard>
              </a>
            </li>
          </ul>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>

