<md-sidenav flex="none" class="md-sidenav-left md-whiteframe-z2 category-sidenav"
ng-include="'components/sidenav/sidenav-category.html'" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')">
</md-sidenav>


<div flex layout="column">
  <md-toolbar class="md-whiteframe-z1" flex="none" ng-include="'components/toolbar/toolbar.html'"></md-toolbar>
  <div class="flex-scroll">
    <div class="main-content__inner">
      <div class="main-content__whiteframe-wrapper">
        <md-whiteframe class="responsive-whiteframe whiteframe--narrowed">
          <div class="video-box">
            <div class="youtube-video">
              <youtube-video class="youtube-video__item" video-id="videoId"></youtube-video>
            </div>
          </div>

          <div class="frame-padding">
            <table>
              <tr>
                <td class="md-body-2 table-layout__key">Published At</td>
                <td class="md-body-1 table-layout__value">{{ lectureDate }}</td>
              </tr>
              <tr>
                <td class="md-body-2 table-layout__key">Duration</td>
                <td class="md-body-1 table-layout__value">{{ lecture.contentDetails.duration | humanable}}</td>
              </tr>
              <tr>
                <td class="md-body-2 table-layout__key">Views</td>
                <td class="md-body-1 table-layout__value">{{ lecture.statistics.viewCount }}</td>
              </tr>
              <tr>
                <td class="md-body-2 table-layout__key">Like</td>
                <td class="md-body-1 table-layout__value">{{ lecture.statistics.likeCount }}</td>
              </tr>
              <tr>
                <td class="md-body-2 table-layout__key">Dislike</td>
                <td class="md-body-1 table-layout__value">{{ lecture.statistics.dislikeCount }}</td>
              </tr>
            </table>
          </div>
          <md-divider hide-gt-xs></md-divider>
        </md-whiteframe>

        <div class="whiteframe-wrapper--behind">
          <md-whiteframe class="frame-padding responsive-whiteframe whiteframe">
            <h2 class="md-title">Edit lecture</h2>
            <md-content class="frame-top-padding">

              <!-- 단순 출력만을 위한 ui -->
              <p class="md-caption edit-lecture-title">Title</label>
                <div>
                  <p class="md-body-1 edit-lecture-body">{{ lectureTitle }}</p>
                </div>
              <md-divider></md-divider>
              <p class="md-caption edit-lecture-title">Description</label>
                <div>
                  <p class="md-body-1 edit-lecture-body">{{ lectureDescription }}</p>
                </div>

              <!-- 기존 input과 textarea -->
              <!-- <md-input-container class="md-block md-accent">
                <label>Title</label>
                <input ng-model="lectureTitle">
              </md-input-container>

              <md-input-container class="md-block md-accent">
                <label>Description</label>
                <textarea ng-model="lectureDescription" md-maxlength="1000"></textarea>
              </md-input-container> -->
            </md-content>
            <!-- 원래 clear, save 버튼이 있던 자리 -->
          </md-whiteframe>

          <md-divider hide-gt-xs></md-divider>

          <md-whiteframe class="frame-padding responsive-whiteframe whiteframe">
            <h2 class="md-title">Upload handout</h2>

            <md-list class="frame-padding--full-width" ng-show="handout.uploaded">
              <md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
                <span>{{ handout.uploaded.fileName }}</span>
                <md-icon class="md-secondary" md-font-set="material-icons" ng-click="showConfirmDialog($event)">clear</md-icon>
              </md-list-item>
            </md-list>

            <div class="frame-top-padding">
              <md-button type="file" class="md-raised md-raised-color-accent" ngf-select="selectFile($file)" ng-disabled="handout.uploaded">Select file</md-button>
              <span class="md-body-1 align-span-with-button">{{ handout.selected.name || 'No file selected'  }}</span>
            </div>

            <div layout="row" layout-align="end center" class="action-area">
              <md-button class="md-accent" ng-click="uploadHandout(handout.selected)" ng-disabled="handout.uploaded">Upload</md-button>
            </div>
          </md-whiteframe>
        </div>
      </div>
    </div>
  </div>
</div>
