.lt-note__file-preview {
  img {
    max-width: 100%;
    text-align: center;
  }

  figcaption {
    margin-top: 4px;
    text-align: left;
  }
}

.lt-note__actions {
  margin-top: 8px;

  .md-button {
    margin-top: 0;
    margin-bottom: 0;
    &:first-of-type { margin-left: 0; }
    &:last-of-type { margin-right: 0; }
  }
}

.lt-note__object--full {
  $fill-margin: -16px;
  margin-top: $fill-margin;
  margin-right: $fill-margin;
  margin-left: $fill-margin;
}

