<div ng-include="'components/toolbar/toolbar.html'"></div>

<div id="buttons">
  <label> <input id="query" type="text" ng-model="q"/><a id="search-button" ng-href="/search/{{q}}">Search</a></label>
</div>

<md-content>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="classe in classes" ng-click="navigateTo(classe)">
      <div class="md-list-item-text">
        <h3>{{ classe.snippet.title }}</h3>
        <h4>{{ classe.snippet.channelTitle }}</h4>
      </div>
      <md-divider inset></md-divider>
    </md-list-item>
  </md-list>
</md-content>
