.intro {
  height: 250px;
  background-image: image('main_background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 23%;
  background-size: cover;

  @include respond-to('small') {
    height: 450px;
  }
}

.slogan {
  margin: 1.15rem 0;
  color: $text-color;

  @include respond-to('small') {
    font-size: 45px;
    line-height: 50px;
  }
}

.main-search-cont {
  padding: 8px 10px;
  border-radius: 4px;
  background-color: $trans-white;

  input {
    @include input-placeholder-color($trans-black);
    border: 0;
    outline: 0;
    background-color: transparent;
    color: $text-color;

    @include respond-to('small') {
      min-width: 500px;
    }
  }

  .search-icon-button {
    $size: 24px;
    width: $size;
    height: $size;
    min-height: $size;
    margin: 0;
    line-height: $size;
  }

}

.grid-list-cont {
  margin: 20px 0;
}
