.embed-item-limit-width {
  max-width: 640px;
  margin: 0 auto;

  @include respond-to('small') {
    margin: $panel-offset auto 0;
  }

  .embed-responsive {
    display: block;
    position: relative;
    height: 0;
    padding: 0;
    overflow: hidden;
    &.embed-responsive-16by9 { padding-bottom: 56.25%; }
  }
}

.embed-responsive-item {
  position: absolute;
  width: 100%;
  max-width: 640px;
  height: 100%;
  border: 0;
}

.content-top-mt {
  margin-top: 0;
  @include respond-to('small') { margin-top: $panel-offset; }
}

.note-item {
  margin-bottom: 10px;
  .avatar { margin: 0; }
  .userinfo {
    margin-left: $account-thumb-size;

    p {
      margin: 0;
      padding: 0 20px;
      line-height: $account-thumb-size;
    }
  }
}

.icon-position {
  margin-top: 10px;
  margin-left: 500px;
}

.lecture-details-item {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.details-footer {
  padding-top: 10px;
}

.icon {
  padding-top: 2px;
}

.note-file-uploader {
  width: 225px;
}

.arrow-icon {
  margin-right: 0;
  margin-left: auto;
}

.icon-style {
  outline: none;
  cursor: pointer;
}

